@import "compass/reset";
// import settings :
@import 'settings';

$bg-color: #fff;
$base-font-size: 18px;
$font-family: OfficinaSansITCStd-Book;
$font-color: #555;
* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	position: relative;
	font-size: $base-font-size;
	font-family: $font-family;
	color: $font-color;
	line-height: 1.3;
}
a {
	color: $font-color;
}
button {
	font-family: $font-family;	
}
// ol {
// 	list-style: decimal;
// 	li {
// 		list-style-position: inside;
// 		&:before {
// 			content: "\A"; 
// 			white-space: pre;
// 		}
// 	}
// }
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $bg-color;
	padding: 30px 50px 0;
	z-index: 10;
}
footer {
	clear: both;
}
nav {
	padding: 1em 0;
	float: left;
	ul {
		list-style: none;
		li {
			display: inline-block;
			margin-right: 2.5em;
			&:last-child {
				margin-right: 0;
			}
			a {
				text-decoration: none;
			}
		}
	}
	&.top-nav {
		// position: absolute;
		// top: 0;
		// right: 0;
		// padding-top: 5px;
		float: right;
		font-size: 0.85em;
		padding-top: 1.5em;
	}
}

.btn {
	background-color: #F3F3F3;
	padding: 0.2em 1em 0.1em;
	border: none;
}
.clear {
	clear: both;
}
.margin-top {
	margin-top: 4em !important;
}
.small-width {
	width: 600px;
}
.align-left {
	margin-left: 0;
}
.content-box {
	box-sizing: content-box;
	padding: 30px;
}
.wrap {
	margin: auto;
	max-width: 900px;
	position: relative;
	&--small {
		@extend .wrap;
		max-width: 700px;
	}
	&--600 {
		@extend .wrap;
		max-width: 600px;
	}
	&--1200 {
		@extend .wrap;
		max-width: 1200px;
	}
}
.bg-gray {
	background-color: #F3F3F3;
}
.background {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}
.fullwidth {
	width: 100%;
}
.absolute {
	position: absolute;
	top: 0;
	z-index: 0;
	&--right {
		@extend .absolute;
		right: 0;
	}
}
/* Responsive iFrame */
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section {
	position: relative;
	padding: 50px;
	clear: both;
	// font-size: 1.35em;

	&#intro {
		// background: url(../images/nice_stamp_back.jpg) no-repeat center center;
		// background-size: cover;
		// width: 100%;
		// height: 100%
		.carousel {
			>div {
				position: relative;
			}
			img {
				width: 100%;
			}
			.text {
				position: absolute;
				top: 20%;
				right: 0;
				background-color: white;
				padding: 1.5em;
				font-size: 1.5em;
				width: 320px;
				padding-bottom: 4em;
				img {
					width: auto;
					display: inline-block;
				}
				svg {
					transform: scale(1.3);
				}
			}
		}

	}
	&#story {
		// background: #D7D8DC;
		// background: #D7D8DC url(../images/nice_stamp_back_crop.jpg) no-repeat center 300px;
		background-size: cover;
		.step {
			position: relative;
			height: 400px;
			&__text {
				width: 60%;
			}
			&__image {
				position: absolute;
				top: -30px;
				margin-left: 63%;
			}
		}
		.ntsy {
			
		}
		.product {
			height: 400px;
			position: relative;
			&__text {
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				padding-right: 20px;
			}
			&__image {
				position: absolute;
				width: 60%;
				top: 0;
				left: 0;
				overflow: visible;
				img {
					position: relative;
					// margin-left: -100px;
					top: -60px;
				}
			}
		}
		.stamp1 {
			position: absolute;
			right: 100px;
			transform: translateY(-80%);
		}
		.stamp2 {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&#stamp {
		.step {
			position: relative;
			height: 400px;
			&__text {
				width: 60%;
			}
			&__image {
				position: absolute;
				top: -30px;
				margin-left: 63%;
			}
		}
		.ntsy {
			
		}
		.product {
			height: 400px;
			position: relative;
			&__text {
				position: absolute;
				top: 0;
				left: 50%;
				width: 50%;
				padding-right: 20px;
			}
			&__image {
				position: absolute;
				width: 60%;
				top: 0;
				left: 0;
				overflow: visible;
				img {
					position: relative;
					margin-left: -100px;
					top: -160px;
				}
			}
		}
	}
	&#book {
		p {
			margin-bottom: 1em;
		}
	}
	&#how {
		ol {
			text-align: center;
		}
		.step {
			position: relative;
			// height: 400px;
			&__text {
				max-width: 400px;
				margin: auto;
			}
			&__image {
				// position: absolute;
				// top: 0;
				// left: 400px;
			}
			&--500 {
				@extend .step;
				.step__text {
					max-width: 500px;
				}
				.step__image {
					left: 500px;
				}
			}
			&.step-2 {
				.step__image {
					margin-top: 80px;
					margin-bottom: 80px
				}
			}
			// &.step-3 {
			// 	.step__image {
			// 		top: -150px;
			// 		margin-left: 100px;
			// 	}
			// }
			// &.step-4 {
			// 	.step__image {
			// 		margin-left: 50px;
			// 	}
			// }
		}		
	}

	&#price {
		.price {
			margin-bottom: 3em;
			&__item {
				width: 33.33%;
				text-align: center;
				float: left;
				.btn {
					margin-top: 1em;
				}
			}
		}
		.logo-stamp {
			margin-top: 5em;
			float: left;
			&__text {
				// @include gridle ( 5 );
				// @include gridle ( 12 , 'mobile' );	
				width: 40%;	
				float: left;		
			}
			&__image {
				// @include gridle ( 7 );
				// @include gridle ( 12 , 'mobile' );		
				overflow: visible;
				width: 60%;
				float: left;
			}			
		}
		.price-include {
			max-width: 400px;
			text-align: center;
			margin: auto;
			img {
				width: 100%;
			}
		}
	}
	&#contact {
		// padding-left: 0;
		// padding-right: 0;
		input, textarea {
			background: white;
			border: none;
			font-size: 0.8em;
			padding: 0.7em;
			margin-bottom: 1em;
		}
	}
	&#about {
		.about {
			&__text {
				// @include gridle ( 5 );
				// @include gridle ( 12 , 'mobile' );	
				width: 70%;	
				padding-right: 1em;
				float: left;
				p {
					margin-bottom: 1em;
				}		
			}
			&__image {
				// @include gridle ( 7 );
				// @include gridle ( 12 , 'mobile' );		
				overflow: visible;
				width: 30%;
				float: left;
			}			
		}
	}
	&#media {
		.news {
			float: left;
			margin-bottom: 1em;
			&__text {
				width: 50%;	
				padding-right: 1em;
				float: left;	
			}
			&__image {	
				overflow: visible;
				width: 50%;
				float: left;
			}			
		}
	}
}
/*
#overview
Gulp入門サンプル

サンプルファイルです
*/
/*#styleguide
サンプル見出し１

サンプルの見出しスタイル
hoverすると青くなって10px動く
```
<h1>見出し１</h1>
```
*/
h1 {
	font-size: 1.3rem;
	span {
		font-size: 1rem;
		margin-left: 1em;
	}
}

h2, .h2 {
	font-size: 1.3em;
	margin: 1em 0;
}

.h2 {
	margin-top: 0;
}
h2.heading {
	text-decoration: underline;
	&:before {
		position: absolute;
		content: '';
		background: url(../images/icon.svg) no-repeat;
		background-size: contain;
		left: -50px;
		width: 30px;
		height: 25px;
	}
}
h3, .h3 {
	font-size: 1.2em;
	margin: 1em 0;
}
.h3 {
	margin: 0;
}

$color: #fff;
 
@mixin media($size){
    @media screen and (max-width : $size){
        @content;
    }
}
 

@include media(980px){
    body{
        color: "#ccc";
    }
}
 
@include media(980px){
    h1{
        color: "#ccc";
    }
}